.tweet {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 8px;
  background-color: rgba( 180, 181, 247, 0.7);
  font-size: 1.25em;
  font-weight: 700;
}

body {
  background-image: url("../img/background.jpg");
}
.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
