<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <nav class="navbar navbar-default" role="navigation">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'tweets'}}Tweets{{/link-to}}</li>
        <li>{{#link-to 'new-tweet'}}New Tweet{{/link-to}}</li>
      </ul>
    </nav>
    {{outlet}}
  </div>
</div>
